en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
nltk==3.8.1
pandas==2.0.3
sentence-transformers==2.2.2
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
wordcloud==1.9.2
